
/*permet de gerer l'opacité des points de suspension et leur taille*/
@keyframes dots {
  50% {
      opacity: 0;
     transform: scale(0.7) translateY(0.5px);
    } 
  }

  /*activation de l'effet point de suspension */

.loading span {
  animation-name: dots; 
  animation-duration: 2s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out; 
 
}

.loading span:nth-child(1) {
  background-color: yellow;
  animation-delay: 0.2s; 
}

.loading span:nth-child(2)  {
  background-color: yellow;
  animation-delay: 0.4s;
}

.loading span:nth-child(3) {
  background-color: #ff8b57;
  animation-delay: 0.6s;
}

/*effet tremblement  sur le footer */


@keyframes wiggle {
  0% {
    transform: translate(2px, 0); 
  }

  50% {
    transform: translate(-2px, 0);
  }

  100% {
    transform: translate(2px, 0);
  }
}

a.papa :hover {
  animation: wiggle;
  animation-duration: 75ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h3 a {
  text-decoration: none;
  color: inherit;
  background: linear-gradient(
      to top,
      #579c87 7%,
      transparent 8.01%
    )
    no-repeat;
  background-size: 0 100%;
  transition: background-size 0.7s ease-in-out;
}

h3 a:hover {
  background-size: 100% 100%;
}

