header
{
  display: flex;
  justify-content: center;
  background-color: #579C87;
}

header h1
{
  color: #FDD835;
  text-transform: lowercase;
  font-family: truenosemibold,Arial,sans-serif;
  letter-spacing: -2px;
}

h1
{
  text-align: center;
  font-family:  dupreeregular,Arial,sans-serif;
}