
@import 'effet.css';
@import 'polices.css';
@import 'bouton.css';
@import 'footer.css';
@import 'header.css';
@import 'index_menus.css';

body
{
	margin:0px;
}

#bloc_page /* le contenru de ma page*/

{
	width: 100%;
	margin:auto;
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 50px;
}

.boite
{
	overflow: hidden;
}

@media all and (min-width: 425px)
{

	.ligne1{flex-direction: column; align-items: center;}
	.ligne2{flex-direction: column;align-items: center;margin-top:0px;}
	.boite{width: 100%;}
	.papa{font-size: 2px;}

}




@media all and (min-width: 768px)
{

	.ligne1{flex-direction: row;}
	.ligne2{flex-direction: row;}
	footer
	{
		width: 100%;
		min-height: 70px;
		padding:0px;
		justify-content: space-between;
	}

	.bouton
	{
		margin-bottom:80px;
		min-height: 65px;
	}
	


	p
	{
		font-size: 30px;
		margin: 0px;
	
	}

	.boite
	{
		width: 100%;
		max-height: 100px;
		max-width: 400px;

	}

	.loading
	{
		margin-top: 5px;
	}

	.mention
	{
		padding-left: 20px;
	}

	.contact
	{
		padding-right: 20px;
	}

	p
	{
		font-size: 25px;
		margin: 0px;
	}

	.papa
	{
		padding-top:15px;
	}

	h1
	{
		font-size: 3em;
	}

	#fond2
	{
		padding-top: 60px;
	}

	#fond3
	{
		padding-top: 60px;
	}

	#fond4
	{
		padding-top: 60px;
	}

	#menus
	{
		margin-bottom:0px ;
	}
}

@media all and (max-width: 1024px)
{
	h1
	{
		font-size: 4em;
	}

	footer{width: 100%;min-height: 120px;padding: 0px;justify-content: space-between;}

    footer p{font-size: 40px;margin:5px;}

	.boite
	{
		min-height: 600px;
		max-width: 450px;
	}

	#menus
	{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.bouton
	{
		width: 50%;
		min-height: 110px;
		margin-bottom: 150px;
	}

	p
	{
		font-size: 40px;
		margin: 0px;
	
	}

	.loading span
	{
		width: 12px;
		height: 12px;

	}

	.loading
	{
		margin-top: 20px;
	}


	.mention
	{
		padding-left: 20px;
		padding-top: 20px;
	}

	.contact
	{
		padding-right: 20px;
		padding-top: 20px;
	}

	

	#fond2
	{
		padding-top: 160px;
	}

	#fond3
	{
		padding-top: 150px;
	}

	#fond4
	{
		padding-top: 140px;
	}

	#M1
	{
		font-size: 2.5em;
	}

	#M2
	{
		font-size: 2.5em;
	}

	#M3
	{
		font-size: 2.5em;
	}

	#M4
	{
		font-size: 2.5em;
	}

	#fond3 h2
	{
		font-size:1.8em;
	}

	#fond4 h2
	{
		font-size:1.8em;
	}

	#fond2 h2
	{
		font-size: 1.8em;
	}

	#fond1 h2
	{
		font-size: 2.1em;
	}
}
/*
@media all and (min-width: 1080px)
{
	footer
	{
		width: 100%;
		min-height: 120px;
		padding:0px;
		justify-content: space-between;
		margin-top: 0px;
	}

	.boite
	{
		min-height: 650px;
		max-width: 450px;
	}

	#menus
	{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.bouton
	{
		margin-bottom: 110px;
	}
}
*/
@media all and (min-width: 1440px)
{

	h1
	{
		font-size: 5em;
	}

	.boite
	{
		width: 100%;
		min-height: 780px;
		max-width: 610px;
	}

	.bouton
	{
		width: 50%;
		min-height: 110px;
		margin-bottom: 180px;
		margin-top: 80px;
	}

	p
	{
		font-size: 50px;
		margin: 0px;
	
	}
	
footer{width: 100%;min-height: 150px;padding: 0px;justify-content: space-between;}

footer p{font-size: 60px;margin:5px;}


	.papa
	{
		padding-top:30px;
	}

	.mention
	{
		padding-left: 20px;
	}

	.contact
	{
		padding-right: 20px;
	}

	.loading span
	{
		width: 15px;
		height: 15px;
		margin : 7px;
		background-color: #ffd957;
		border-radius: 50%;
		display: inline-block;
		animation-name: dots;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}

	.loading
	{
		margin-top: 25px;
	}

	#M1
	{
		font-size: 4em;
		margin-top: -50px;
	}

	#M2
	{
		font-size: 4em;
	}

	#M3
	{
		font-size: 4em;
		margin-top:52px;
	}

	#M4
	{
		font-size: 4em;
		margin-top: 0px;
	}

	#fond2 h2
	{
		font-size: 2.3em;
	}

	

	#fond3 h2
	{
		font-size:3.2em;
	}

	#fond4 h2
	{
		font-size:3.2em;
	}

	#fond3
	{
		padding-top: 200px;
	}

	#fond4
	{
		padding-top: 190px;
	}

	#fond2
	{
		padding-top: 270px;
	}

	div.note
	{
		width: 150px;
		height: 150px;
		margin-bottom: -55px;
	}

	#fond1 h2
	{
		font-size: 4em;
	}
}
/*
@media all and (min-width: 1920px)
{
	footer
	{
		width: 100%;
		min-height: 120px;
		padding:0px;
		justify-content: space-between;
		margin-top: 0px;
	}

	#menus
	{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.bouton
	{
		margin-bottom: 150px;
		margin-top: 50px;
	}
}
*/



@media all and (min-width: 2560px)
{	
h1{font-size: 9em;}
.boite{width: 100%;min-height: 1250px;min-width: 1000px;padding-top: 50px;}
.bouton{	
		width: 50%;			
		min-height: 200px;			
		margin-bottom: 280px;	
		border-radius: 20px;		
	}

#fond1{margin-right: 40px;}
#fond2{margin-left: 40px;}
#fond3{margin-right: 40px;}
#fond4{margin-left: 40px;}




#M1
	{
		font-size: 9em;
		margin-top: 0px;
	}

	#M2
	{
		font-size: 9em;
	}

	#M3
	{
		font-size: 9em;
		margin-top:100px;
	}

	#M4
	{
		font-size: 9em;
		margin-top: 0px;
	}

	#fond2 h2
	{
		font-size: 4.3em;
	}

	h1
	{
		font-size: 9em;
	}

	#fond3 h2
	{
		font-size:6em;
	}

	#fond4 h2
	{
		font-size:6em;
	}

	#fond3
	{
		padding-top: 210px;
	}

	#fond4
	{
		padding-top: 190px;
	}

	#fond2
	{
		padding-top: 270px;
	}

	div.note
	{
		width: 150px;
		height: 150px;
		margin-bottom: -70px;
	}

	#fond1 h2
	{
		font-size: 6em;
	}





    .loading span{width: 25px; height: 25px; border-radius: 50%;}
	.loading{margin-top: 25px;}
	p{font-size: 90px;margin: 5px;}


footer{width: 100%;min-height: 200px;padding: 0px;justify-content: space-between;}

footer p{font-size: 80px;margin:5px;}

.papa{margin-top: 30px;}
.mention{padding-left: 30px;}
.contact{padding-right: 30px;}

}