@import "effet.css";
@import "polices.css";
@import "bouton.css";
@import "footer.css";
@import "header.css";
@import "index_menus.css";
@import "media_box.css";
@import "mediamotmenu.css";
@import "medianomdurestaurant.css";
@import "media_header.css";
@import "media_bouton.css";
@import "media_footer.css";
@import "media_suspension.css";
@import "media_note_accueil.css";

body {
  margin: 0px;
}

#bloc_page /* le contenru de ma page*/ {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}

.boite {
  overflow: hidden;
}
