@import 'polices.css';
@import 'effet.css';
@import 'footer.css';
@import 'header.css';

body
{
	margin:0px;
}

body
{
	width: 100%;
	padding-bottom:60px;
	margin: 0;
}

#bloc_page /* le contenru de ma page*/

{
	width: 100%;
	margin:auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.cadre
{
	display: flex;
	margin-top: 20px;
	margin-bottom:20px;
	padding-left: 20px;
	padding-right: 20px;
}

article
{
	text-align: justify;
}

a
{
	text-decoration: none;
}

p
{
	color: #263238;
	font-size: 20px;
}

.mention
{
	padding:5px;
}

.papa p
{
	color:#FDCB46 ;
}

div.mention:hover
{
	animation: none;
}

a.papa
{
	display: block;
}

a.papa :hover
{
	animation: wiggle 75ms infinite;
	animation-timing-function: linear;
}
@media all and (min-width: 768px){
	footer{width: 100%;min-height: 50px; padding:0px; justify-content: space-between;}
	.mention{padding-left: 20px;}
	.contact{padding-right: 20px;}
   
  
  }


  @media all and (min-width: 1024px)
  {
	  footer
	  {
		  width: 100%;
		  min-height: 100px;
		  padding:0px;
		  justify-content: space-between;
	  }
  
	  .papa
	  {
		  padding-top:15px;
	  }
  
	  .mention
	  {
		  padding-left: 20px;
	  }
  
	  .contact
	  {
		  padding-right: 20px;
	  }
  
	  footer p
	  {
		  font-size: 25px;
	  }
  
	  article
	  {
		  padding-bottom: 10px;
	  }
  
	  article p
	  {
		  font-size: 30px;
	  }
  
	  h2
	  {
		  font-size: 2.6em;
	  }
  
	  h1
	  {
		  font-size: 3.7em;
	  }
  }

@media all and (min-width: 1440px)
{
	footer
	{
		width: 100%;
		min-height: 100px;
		padding:0px;
		justify-content: space-between;
	}

	.papa
	{
		padding-top:15px;
	}

	.mention
	{
		padding-left: 20px;
	}

	.contact
	{
		padding-right: 20px;
	}

	footer p
	{
		font-size: 25px;
	}

	article
	{
		padding-bottom: 10px;
	}

	article p
	{
		font-size: 35px;
	}

	h2
	{
		font-size: 3em;
	}

	h1
	{
		font-size: 4em;
	}
}

@media all and (min-width: 2560px)
{
	footer
	{
		width: 100%;
		min-height: 100px;
		padding:0px;
		justify-content: space-between;
	}

	.papa
	{
		padding-top:15px;
	}

	.mention
	{
		padding-left: 20px;
	}

	.contact
	{
		padding-right: 20px;
	}

	footer p
	{
		font-size: 40px;
	}

	article
	{
		padding-bottom: 10px;
	}

	article p
	{
		font-size: 55px;
	}

	h2
	{
		font-size: 4em;
	}

	h1
	{
		font-size: 7em;
	}
}