@import "polices.css";
@import "header.css";
@import "effet.css";
@import "footer.css";
@import "media_header.css";
@import "media_footer.css";

body {
  margin: 0px;
  background-color: #fcdfd8;
}

#bloc_page /* le contenu de ma page*/ {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  background-color: #fcdfd8;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
}

a {
  text-decoration: none;
}

#fond {
  background-color: #fcdfd8;
  text-align: justify;
  margin: auto;
}

#fond p {
  font-size: 16px;
  font-stretch: ultra-expanded;
}

h2 {
  text-align: center;
  font-family: devonshireregular, Arial, sans-serif;
  font-size: 3em;
  color: #3d1319;
  padding-top: 0;
  margin-top: 0;
}

h3 {
  color: #3d1319;
  font-family: kalamlight, Arial, sans-serif;
  max-width: 960px;
  margin-right: 20px;
  margin-left: 20px;
  min-width: 100px;
}

h3 a:hover {
  background-size: 100% 100%;
}

.nom {
  overflow: hidden;
  text-align: center;
}

table {
  width: 100%;
  font-size: 0.9rem;
  font-family: kalamlight, Arial, sans-serif;
  color: #3d1319;
}

td {
  padding: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: justify;
}

td.prix {
  text-align: right;
}

div.note {
  background-image: url(../images/db1.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

div.trait {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.trait img {
  max-width: 100%;
}

.lanote {
  text-align: center;
  font-family: devonshireregular, Arial, sans-serif;
  font-size: 1.5em;
  color: #3d1319;
}

.bas {
  display: flex;
  align-items: center;
  justify-content: center;
}

div#note3 {
  background-image: url(../images/db1.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

/* media */

@media screen and (max-width: 767px) {
  section {
    width: 100%;
  }
  table {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  table {
    font-size: 1.5em;
  }
  section {
    width: 95%;
  }
  h3 {
    font-size: 1.6em;
  }
  .bas {
    margin-bottom: 50px;
  }
  .lanote h4 {
    font-size: 1.8em;
  }
  div#note3 {
    width: 90px;
    height: 80px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  table {
    font-size: 2em;
  }
  section {
    width: 95%;
  }
  h3 {
    font-size: 2.1em;
  }
  .bas {
    margin-bottom: 55px;
  }
  .lanote h4 {
    font-size: 1.8em;
  }
  div#note3 {
    width: 100px;
    height: 90px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
  section {
    width: 90%;
  }
  h3 {
    font-size: 2.5em;
  }
  table {
    font-size: 2.8em;
  }
  h2 {
    font-size: 6em;
  }
  h3 {
    font-size: 2.5em;
    letter-spacing: 0.3em;
  }

  .lanote h4 {
    font-size: 3em;
  }
  div#note3 {
    width: 120px;
    height: 90px;
  }
  div.note {
    width: 200px;
    height: 170px;
  }
}

@media screen and (min-width: 2560px) {
  section {
    width: 75%;
  }
  h3 {
    font-size: 3.5em;
  }
  table {
    font-size: 4em;
  }
  .lanote h4 {
    font-size: 4em;
  }
  div#note3 {
    width: 180px;
    height: 150px;
  }
  div.note {
    width: 260px;
    height: 210px;
  }
  h2 {
    font-size: 8em;
  }
  h3 {
    font-size: 4.5em;
    letter-spacing: 0.6em;
  }
  .bas {
    margin-bottom: 200px;
  }
}
