
@import 'polices.css';
@import 'effet.css';
@import 'footer.css';
@import 'header.css';
@import 'media_header.css';
@import 'media_footer.css';

body
{
	margin:0px;
	background-color: #EDEFEF;
}

#bloc_page /* le contenru de ma page*/

{
	width: 100%;
	margin:auto;
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 50px;
	background-color: #EDEFEF;
}

section
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
	margin-bottom:20px;
	width: 75%;
}

a
{
	text-decoration: none;
}

#fond
{
	background-color: #EDEFEF;
	text-align: justify;
	margin: auto;
}

#fond p
{
	font-size: 16px;
	font-stretch: ultra-expanded;
}

h2
{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 3em;
	font-family: kaushan_scriptregular,Arial, sans-serif;
	background: linear-gradient( 150deg,#3D923A , #BEFF7F);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3
{
	min-width: 170px;
	font-size: 1.5em;
	font-family: abecedaryregular,Arial,sans-serif;
	max-width: 960px;
	margin: 10px auto;
}

h3 a
{
	text-decoration: none;
	color:inherit;
	background: linear-gradient(to top,rgba(38,166,154 ,1)0%, rgba(38,166,154 ,1) 8%,transparent 8.01%) no-repeat;
	background-size: 0 100%;
	transition: background-size .9s;
}

h3 a:hover
{
	background-size: 100% 100%;
}


.nom
{
	overflow: hidden;
	text-align: center;
}

table
{
	font-family: abecedaryregular,Arial,sans-serif;
	width: 100%;
	font-size: 1.1rem;
}

td
{
	padding: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align:justify;
}

td.prix
{
	text-align: right;
}


div.trait
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.trait img
{
	max-width: 100%;
}

@media all and (max-width: 767px){

	section{width: 100%; padding-bottom: 100px;}

	table
	{
		
		font-size: 1.3rem;
	}

	 td{padding:8px;}
	 
	h3
	{
		font-size: 1.5em;
	}

	h2
	{
		font-size: 2.4em;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	article
	{
		margin-bottom: 25px;
	}

	#fond{padding-bottom: 20px;}

}





@media screen and (min-width: 768px) and (max-width:1023px)
{
	

	section{width: 90%; padding-bottom: 100px;}

	table
	{
		
		font-size: 1.5rem;
	}

	 td{padding:15px;}
	 
	h3
	{
		font-size: 1.8em;
	}

	h2
	{
		font-size: 3.1em;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	article
	{
		margin-bottom: 25px;
	}










	
}
@media screen and (min-width: 1024px) and (max-width:1439px)
{
	
	section{width: 90%; padding-bottom: 100px;}

	table
	{
		
		font-size: 2.5rem;
	}

	 td{padding:25px;}
	 
	h3
	{
		font-size: 2.7em;
	}

	h2
	{
		font-size: 4.5em;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	article
	{
		margin-bottom: 50px;
	}
}

@media screen and (min-width: 1440px) and (max-width:2559px)
{
	
	section{width: 85%; padding-bottom: 100px;}

	table
	{
		
		font-size: 3.5rem;
	}

	 td{padding:35px;}
	 
	h3
	{
		font-size: 3.5em;
	}

	h2
	{
		font-size: 6em;
		margin-top: 100px;
		margin-bottom: 100px;
	}

	article
	{
		margin-bottom: 100px;
	}
	
}

@media screen and (min-width: 2560px)
{

	section{width: 90%;}

	table
	{
		
		font-size: 4.5rem;
	}

	 td{padding:40px;}
	 
	h3
	{
		font-size: 5em;
	}

	h2
	{
		font-size: 9em;
		margin-top: 200px;
		margin-bottom: 200px;
	}

	article
	{
		margin-bottom: 100px;
	}

	
}