@import 'polices.css';

body
{
  margin:0px;
}

#bloc_page /* le contenru de ma page*/

{
  width: 100%;
  margin:auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  background-color: #FFF5FE;
}

header
{
  display: flex;
  justify-content: center;
  background-color: #579C87;
}

header h1
{
  color: #FDD835;
  text-transform: lowercase;
  font-family: truenosemibold,Arial,sans-serif;
  letter-spacing: -2px;
}

section
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom:20px;
  width: 70%;
}

article
{
  padding-left:15px;
  padding-top:2px;
  padding-bottom: 2px;
  padding-right: 15px;
}

#menus img
{
  width: 100%;
}

a
{
  text-decoration: none;
}

.ligne1
{
  display:flex;
  flex-direction:row;
  padding-top: 5px;
  margin-bottom: 10px;
}

.ligne2
{
  display:flex;
  flex-direction:row;
  padding:0px;
  padding-top: 5px;
}

.restau
{
  box-shadow: 0.5px 0px 10px #E0E0E0;
  transition: 1s;
  cursor: zoom-in;
  opacity: 1;
}

.restau:hover
{
  box-shadow: 2px 2px 2px #B0BEC5;
  transform:scale(1.3);
  opacity: 0.5;
}

.box
{
  overflow: hidden;
}

.bouton
{
  justify-content: center;
  background-color:#579C87;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 25px;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  min-width: 200px;
}




p
{
  color: #FDD835;
  font-size: 20px;
}

a.papa
{
  display: block;
}

a.papa :hover
{
  animation: wiggle 75ms infinite;
  animation-timing-function: linear;
}

@keyframes wiggle
{
  0%
  {
    transform: translate(2px, 0);
  }

  50%
  {
    transform: translate(-2px, 0);
  }

  100%
  {
    transform: translate(2px, 0);
  }
}

footer
{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display:flex;
  justify-content: space-around;
  background-color: #579C87;
  position:fixed;
  bottom: 0;
}

article p
{
  color: black;
  text-align:justify;
}

#fond
{
  /*background-image: linear-gradient(#ffeaea,#F3E5F5 );
  */
  text-align: justify;
  background-color: #FFF5FE;
  margin:auto;
}

#fond p
{
  font-size: 16px;
  font-stretch: ultra-expanded;
}

h2
{
  background: linear-gradient( 150deg,#E0881D, #8F5AFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2
{
  text-align: center;
  font-family: croissant_oneregular,Arial,sans-serif;
  font-size: 4em;
}

h3
{
  min-width: 200px;
  font-size: 1em;
  font-family: caveatregular,Arial,sans-serif;
  max-width: 960px;
  margin: 10px auto;
}

.title
{
  overflow: hidden;
  text-align: center;

}

table
{
  font-family: caveatregular,Arial,sans-serif;
  width: 100%;
  font-size: 1rem;
  margin-top: 30px;
  margin-bottom:30px;
  padding:auto;
}

td
{
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align:justify;
}

td.prix
{
  text-align: right;
}

h3 a
{
  text-decoration: none;
  color:inherit;
  background: linear-gradient(to top,rgba(38,166,154 ,1)0%, rgba(38,166,154 ,1) 8%,transparent 8.01%) no-repeat;
  background-size: 0 100%;
  transition: background-size .9s;
}

h3 a:hover
{
  background-size: 100% 100%;
}

div.trait
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.trait img
{
  max-width: 100%;
  max-width:100%;
}

.chic1
{
  color:#E0881D;
}

.chic2
{
  color:#A56799;
}

.chic3
{
  color:#6E4CCC ;
}

@media all and (max-width: 950px)
{
  #bloc_page
  {
    width:100%;
    background-color:#FFF5FE;
  }

  body
  {
    min-width: 400px;
    height: 100%;
  }

  .bouton
  {
    width: 100%;
  }

  footer
  {
    width: 100%;
  }

  div.trait
  {
    width: 100%;
  }
}
@media all and (max-width: 768px)
{
  h2{font-size: 1.5em;}
  h1{font-size: 2em;}
.mention{padding-left: 20px;}
.contact{padding-right: 20px;}

}

@media all and (min-width: 1024px){
footer{width: 100%;min-height: 50px; padding:0px; justify-content: space-between;}
h2{font-size: 2em;}
h1{font-size: 3em;}
.mention{padding-left: 20px;}
.contact{padding-right: 20px;}

}




@media all and (min-width: 1440px){

footer{width: 100%;min-height: 50px; padding:0px; justify-content: space-between;}


.papa{padding-top:15px;}
.mention{padding-left: 20px;}
.contact{padding-right: 20px;}
.papa p{font-size: 50px;}
h3{font-size: 2em;}
table{font-size: 1.5em;}
h1{font-size: 4em;}
h2{font-size: 3em;}
section{padding-bottom: 150px;width: 80%;}
}



@media all and (min-width: 2560px){

table
{
  width: 100%;
  font-size: 3rem;
  }

  h3{font-size: 3.5em;}

.bas{margin-bottom: 200px;}
.lanote h4{font-size:3.5em;}
div#note3 {width: 150px;height: 150px;}
h2{font-size: 7em;}
div.note{ width: 300px;
  height: 250px;}
h1{font-size: 9em;}

footer{width: 100%; min-height: 200px;padding:0px; justify-content: space-between;}
.papa{padding-top:30px;}
.papa p {font-size: 80px;margin-right: 20px;}
.mention{padding-left: 40px;}
.contact{padding-right: 50px;}

.chic3{margin-bottom: 200px;}
}


@keyframes dots
{
  50%
  {
    opacity:0;
    transform: scale(0.7)translateY(0.5PX);}
  }