@import "polices.css";
@import "effet.css";
@import "footer.css";
@import "header.css";
@import "media_header.css";
@import "media_footer.css";

body {
  margin: 0px;
  background-color: #fff5fe;
}

#bloc_page /* le contenru de ma page*/ {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  background-color: #fff5fe;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

a {
  text-decoration: none;
}

#fond {
  text-align: justify;
  background-color: #fff5fe;
  margin: auto;
}

#fond p {
  font-size: 16px;
  font-stretch: ultra-expanded;
}

h2 {
  background: linear-gradient(150deg, #e0881d, #8f5aff); /* couleur en arrière plan*/
  -webkit-background-clip: text; /* arrière plan couleur limité au text*/
  -webkit-text-fill-color: transparent;/* rendre visible la couleur d'arrière plan*/
  text-align: center;
  font-family: croissant_oneregular, Arial, sans-serif;
  font-size: 4em;
}

h3 {
  min-width: 200px;
  font-size: 1em;
  font-family: caveatregular, Arial, sans-serif;
  max-width: 960px;
  margin: 10px auto;
}

.nom {
  overflow: hidden;
  text-align: center;


}

table {
  font-family: caveatregular, Arial, sans-serif;
  width: 100%;
  font-size: 1rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

td {
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: justify;
}

td.prix {
  text-align: right;
}

div.trait {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.trait img {
  max-width: 100%;
}

.chic1 {
  color: #e0881d;
}

.chic2 {
  color: #a56799;
}

.chic3 {
  color: #6e4ccc;
}

@media all and (max-width: 767px) {
  section {
    width: 100%;
  }
  table {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  section {
    padding-bottom: 150px;
    width: 95%;
  }

  table {
    font-size: 1.5em;
  }

  td {
    padding: 20px;
  }

  h3 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 2.1em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  section {
    padding-bottom: 150px;
    width: 85%;
  }

  table {
    font-size: 1.8em;
  }

  td {
    padding: 20px;
  }

  h3 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {
  section {
    padding-bottom: 150px;
    width: 80%;
  }

  table {
    font-size: 2.5em;
  }

  td {
    padding: 20px;
  }

  h3 {
    font-size: 2.7em;
  }

  h2 {
    font-size: 4em;
  }
}

@media screen and (min-width: 2560px) {
  section {
    width: 85%;
  }

  table {
    width: 100%;
    font-size: 4rem;
    padding-bottom: 100px;
    padding-top: 50px;
  }

  td {
    padding: 50px;
  }

  h3 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 7em;
  }

  .chic3 {
    margin-bottom: 200px;
  }
}
