

footer
{
  width: 100%;
  display:flex;
  justify-content: space-between;
  background-color: #579C87;
  position:fixed;
  bottom: 0;
}

footer p
{
  color: #FDD835;
  font-size: 20px;
}
.mention {padding-left: 20px;}
.contact{padding-right: 20px;}

