@media screen and (max-width: 767px){
	.ligne1{flex-direction: column;align-items: center;}
	.ligne2{flex-direction: column;align-items: center;margin-top: 0px;}
	.bouton{width: 100%;}
	 #fond1,#fond2,#fond3,#fond4{margin:0px;}

}

@media screen and (min-width: 1024px) and (max-width: 1439px){
	.boite{width: 42%;height: 550px;}

}


@media screen and (min-width: 1440px) and (max-width: 2559px){
	.boite{width: 42%;height: 820px;}

}

@media screen and (min-width: 2560px){
	.boite{width: 42%;height: 1500px;}

}

